<header>
    <div class="header-content">
    <h1 class="my-tasks"> 
        <button 
        [ngClass]="{ 'selected': selectedFilter === 'myTask' }"
        (click)="showAllTasks()">
        My Tasks
        </button>
    </h1>
        <h1 class="in-progress"> 
        <button 
        [ngClass]="{ 'selected': selectedFilter === 'inProgress' }"
        (click)="showInProgressTasks()">
        In Progress
        </button>
    </h1>
        <h1 class="completed"> 
        <button 
        [ngClass]="{ 'selected': selectedFilter === 'completed' }"
        (click)="showCompletedTasks()"
        >
        Completed
        </button>
    </h1>
    </div>
</header>
