header {
  position: fixed;
  top: 0;
  left: 0; 
  right: 0;
  width: 100%;
  border: 1px solid;
  height: 76px; 
  display: flex;
  background-color:#4A90E2;
  
}

.header-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 34px;
  gap: 64px;
}


.btn{
  background-color:#4A90E2;
  font-size: 24px;
  color: #00408B;
  text-align: center;
  border: none;
  cursor: pointer;
  border-bottom: 5px solid #00408B;
  height: 76px;
  width: 160px;
}

