.add-task-item{
    width: 620px;
    height: 65px;
    margin-top: 32px;
    margin-bottom: 24px;
    margin-left: 0px;
    display: flex;
    background-color: #FFFFFF;
}


.add-btn{
    flex:1;
    padding-left: 32px;
    background-color:transparent;
    border: 2px solid #C8C8C8;
    border-radius: 5px;
    outline: none;
    padding: 16px 0 8px 32px;
}

input::placeholder {
  font-family: Roboto-Regular;
  font-size: 24px;
  color: #C8C8C8;
  text-align: left;
  
}


.add-btn:hover{
    background-color: #F0F0F0;
}

.add-btn:focus{
   display: none;
}


.app-task-card{
    margin-bottom: -24px;
    margin-left: -36px;
}

@media (max-width: 768px) {
    .add-task-item{
        width: 100%;
        margin-left: 0px;
    }
}