<div 
  class="add-task-item"
  *ngIf="!adding"
  >
    <!-- 1) 還沒按新增時，顯示 button

    <button
      type="button"
      class="add-btn"
      (click)="handleStartAdding()">
           
    <span class="add-text">   Add Task</span>
    </button>  -->

  
    <input
      class="add-btn"
      type="text"
      placeholder="＋  Add Task"
      (focus)="handleStartAdding()"/>
    </div>
  
  <app-task-card 
    class="app-task-card"
    *ngIf="adding"
    (cancel)="handleStartAdding()"
    (addTask)="handleAddNewTask($event)"
    [isAdding]="true"
    [isCompleted]="isCompleted"
    [priority]="priority"
    (fileSelected)="onFileSelected($event)"
    [fileName]="selectedFileName"
    [fileUploadTime]="selectedFileUploadTime"
    >
  </app-task-card>

