<li class="task-list" >

  <div class="task-item">
    <div class="task-top" [ngClass]="{ 'important': tempPriority }">
      <div class="main">
        <div class="task-title">
          <div class="task-left">
            <div class="drag-handle" cdkDragHandle>
             ⋮
            </div>
            <input 
            type="checkbox" 
            class="checkbox"
            [checked]="!isAdding && isCompleted"
            [(ngModel)]="tempCompleted"
            (change)="!isAdding && onCompleteClick()"
            />
          </div>
          <!-- 任務標題欄位；完成時加上刪除線 -->
          <input type="text" class="title" [class.completed]="tempCompleted" [(ngModel)]="tempTitle">
        </div>

        <div class="task-right">
          <!-- 標星圖示；點擊可切換重要標記 -->
          <fa-icon 
          [icon]="tempPriority ? faSolidStar : faRegularStar" 
          [ngClass]="tempPriority ? 'star-important' : 'star'" 
          (click)="onProiorityClick()">
          </fa-icon>
          <!-- 編輯圖示；點擊可展開編輯面板 -->
          <fa-icon 
          [icon]="faPen"
          [ngClass]="{ 'pen': true, 'pen-active': isEditing && !isAdding }"
          (click)="!isAdding && onEditClick()">
          </fa-icon>
        </div>
      </div>

      <div class="task-info">

        <ng-container *ngIf="deadlineDate">
          <fa-icon [icon]="faCalendarDays"></fa-icon>
          <span class="date">{{ deadlineDate }}</span>
        </ng-container>

        <ng-container *ngIf="fileName">
          <fa-icon [icon]="faFile"></fa-icon>
        </ng-container>

        <ng-container *ngIf="tempComment">
          <fa-icon [icon]="faCommentDots"></fa-icon>
        </ng-container>

      </div>
    </div>

    <!-- 詳細資訊面板（展開編輯時顯示） -->
    <div class="task-bottom" 
         *ngIf="isEditing"
         >
      <!-- 編輯面板 -->
      <div class="controls">
        <!-- 到期日設定區 -->
        <h3>
          <fa-icon [icon]="faCalendarDays"></fa-icon>
          <span>Deadline</span>
        </h3>
        <!-- 原生日期選擇器 -->
        <div class="picker">
            <input type="date" class="date-picker" [(ngModel)]="tempDeadlineDate" name="deadlineDate">
            <input type="time" class="time-picker" [(ngModel)]="tempDeadlineTime" name="deadlineTime">
        </div>
        <!-- 檔案上傳或顯示區 -->
        <h3>
          <fa-icon [icon]="faFile"></fa-icon>
          <span>File</span>
        </h3>
        <div class="file-upload">
            <div class="file-info" *ngIf="fileName">
              <p class="file-name">{{ fileName }}</p>
              <p class="file-upload-time">{{ fileUploadTime }}</p>
            </div>
         <div class="upload-btn">
          <input 
              type="file" 
              id="fileUpload" 
              class="file-input" 
              hidden 
              (change)="onFileSelected($event)">
          <label for="fileUpload" class="file-button">
            <fa-icon [icon]="faPlus"></fa-icon>
          </label>
         </div>
        </div>

        <h3>
          <fa-icon [icon]="faCommentDots"></fa-icon>
          <span>Comment</span>
        </h3>
        <textarea 
          class="memo" 
          rows="5" 
          placeholder="Type your memo here…" 
          [(ngModel)]="tempComment"
          [readonly]="!isMemoEditable"
          (dblclick)="isMemoEditable = true">
        </textarea>
      </div>

      <div class="btns">
        <button 
          class="btn-cancel"
          (click)="isAdding ? onCancelClick() : onCancelEditClick()">
          <fa-icon [icon]="faXmark"></fa-icon>
          <span>   Cancel</span>
        </button>

        <button 
          type="button"
          class="add-btn"
          (click)="isAdding ? onAddClick(): onSaveEditClick() ">
          <fa-icon [icon]="faPlus"></fa-icon>
          <span>{{ isAdding ?  '   Add Task': '   Save' }}</span>
        </button>
      </div>

    </div>
  </div>
</li>