<div class="app-wrapper">
<app-header></app-header>
<main class="main">
<app-task-add></app-task-add>
<ul  
cdkDropList 
(cdkDropListDropped)="drop($event)"
class="task-list">
  <ng-container *ngIf="(todos$ | async) as tasks">
    <app-task-card
      *ngFor="let task of (showAll ? tasks : tasks.slice(0, 8)); trackBy: trackById"
      [id]="task.id"
      [isCompleted]="task.completed"
      [priority]="task.priority"
      [title]="task.title"
      [comment]="task.comment"
      [deadlineDate]="task.deadlineDate"
      [deadlineTime]="task.deadlineTime"
      [fileName]="task.fileName"
      [fileUploadTime]="task.fileUploadTime"
      cdkDrag
      class="task-card"
    ></app-task-card>

    <button 
      *ngIf="tasks.length > 8" 
      (click)="toggleShowAll()" 
      class="toggle-btn">
      {{ showAll ? 'Show Less' : 'Show More' }}
    </button>
  </ng-container>
</ul>
<p class="task-left" *ngIf="!(inProgressCount === 0 && completedCount === 0)">
  <ng-container *ngIf="inProgressCount > 0; else completed">
    {{ inProgressCount }} task left
  </ng-container>
  <ng-template #completed>
    {{ completedCount }} task completed
  </ng-template>
</p>
</main>
<router-outlet />
</div>
